{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{# <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head> #}
{% block body %}
{# <style>
    body{
        background: url('./Image/Background-shoe-shop.jpg');    
    }
    table{
        background-color: white;
        margin-top: 50px;
    }
</style> #}

<body>
    <section id="hero">
        <div class="container-fluid">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">OrderDate</th>
                        <th scope="col">DeliveryDate</th>
                        <th scope="col">Payment</th>
                        <th scope="col">Address</th>
                        <th scope="col">Status</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Client</th>
                        <th  style="width:160px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for o in order %}
                        <tr>
                            <td>{{o.id}}</td>
                            <td>{{o.OrderDate|date('y-m-d')}}</td>
                            {% if o.status != "" %}
                                <td>{{o.DeliveryDate|date('y-m-d')}}</td>
                            {% else %}
                                <td>{{o.DeliveryDate}}</td>
                            {% endif %}
                            <td>{{o.Payment}}</td>
                            <td>{{o.Address}}</td>
                            <td>{{o.Status}}</td>
                            <td>{{o.Phone}}</td>
                            {# <td>{{o.Client}}</td> #}
                            <td><a href="{{path ('confirm', {'id' : o.id})}}">Confirm</a>|<a href="{{path ('Show_OrderDetail', {'id' : o.id})}}">Detail</a>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </section>
</body>
{% endblock %}