{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{# <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head> #}
{% block body %}
{# <style>
    body{
        background: url('./Image/Background-shoe-shop.jpg');    
    }
    table{
        background-color: white;
        margin-top: 50px;
    }
</style> #}

<body>
    <section id="hero">
        <div class="container-fluid">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for f in feedback %}
                                <tr>
                                    <td>{{f.id}}</td>
                                    <td>{{f.Username}}</td>
                                    <td>{{f.Email}}</td>
                                    <td>{{f.Phone}}</td>
                                    <td>{{f.Product_Name}}</td>
                                    <td>{{f.Message}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
        </div>
    </section>
</body>
{% endblock %}